<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" th:href="@{/css/reset.css}">-->
<link rel="stylesheet" th:href="@{/css/auth-style.css}">
<title>ログイン</title>
</head>

<body>
	<h1>LOG IN</h1>
	<div th:if="${param.error}" style="color: red;">
		ユーザー名またはパスワードが正しくありません。</div>
	<div class="form">
		<div class="login-page">
			<form th:action="@{/login}" method="post">
				<input type="text" id="username" name="username" placeholder="ユーザー名"><br>
				<input type="password" id="password" name="password"
					placeholder="パスワード"><br>
				<p>
					<button type="submit">ログイン</button>
				</p>
			</form>
		</div>
	</div>
</body>

</html>