<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" th:href="@{/css/reset.css}">-->
	<link rel="stylesheet" th:href="@{/css/auth-style.css}">
	<link rel="stylesheet" th:href="@{/css/common-style.css}">
	<title>パスワード再設定</title>
	</head>
<body>
	<h2>パスワード再設定</h2>
	
	<!-- エラー表示 -->
	<div th:if="${error}" style="color: red;">
	    <p th:text="${error}"></p>
	</div>
	
	<form th:action="@{/password/reset/confirm}" method="post">
	    <label>ユーザー名を入力してください</label><br>
	    <input type="text" name="username"><br>
	    <button type="submit">次へ</button>
	</form>
	<a th:href="@{/login}">ログイン画面へ</a>
</body>
</html>