<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/mt-style.css}">
<title>口座登録</title>
</head>
<body>
	<p sec:authorize="isAuthenticated()" class="auth-status">
		ログインユーザー：<span sec:authentication="principal.username"></span><br> ロール：<span sec:authentication="principal.authorities"></span>
	</p>

	<h2>口座登録</h2>

	<form th:action="@{/mt-account-regist}" method="POST" th:object="${bankAccountForm}">
		【ユーザーID】<br> <input type="text" th:field="*{userName}" class="inputSize"><br>
		<div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error-msg"></div>
		<br> 【所持金】<br> <input type="text" th:field="*{financial_asset}" class="catch"><br>
		<div th:if="${#fields.hasErrors('financial_asset')}" th:errors="*{financial_asset}" class="error-msg"></div>
		<br> <input type="submit" value="登録" class="btn">
	</form>

	<br>
	<a th:href="@{/mt-top}">管理メニュー</a>

	<div class="logoutBtn-wrapper">
		<form th:action="@{/logout}" method="post">
			<p>
				<button class="logoutBtn" type="submit">ログアウト</button>
			</p>
		</form>
	</div>
</body>
</html>