<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/common-style.css}">
<link rel="stylesheet" th:href="@{/css/mt-style.css}">
<title>お手伝い差戻確認</title>
</head>
<body>
	<!--ヘッダーフラグメント-->
	<header th:replace="~{fragments/header :: header-fragment}"></header>
	
	<h2>お手伝い差戻確認</h2>

	<table class="confirm-table" th:object="${mtReportedHelpListForm}">
		<tr>
<!--			<td class="guide">【お手伝いID】</td>-->
<!--			<td th:text="*{help_id}"></td>-->
			<td class="guide">【差戻お手伝いID】</td>
			<td th:text="*{reported_help_id}"></td>
		</tr>
		<tr>
			<td class="guide">【お手伝い名】</td>
			<td th:text="*{help_name}"></td>
		</tr>
		<tr>
			<td class="guide">【お小遣い】</td>
			<td th:text="*{help_ammount}"></td>
		</tr>
	</table>
	<br>

<div class="confirm-btn-wrapper">
    <form th:action="@{/mt-confirm-not-approved-help}" method="POST" th:object="${mtReportedHelpListForm}">

		<input type="hidden" th:field="*{reported_help_id}">
		<input type="hidden" th:field="*{help_id}">
    	<input type="hidden" th:field="*{help_name}">
    	<input type="hidden" th:field="*{help_ammount}">
		<input type="hidden" th:field="*{user_id}">
		<input type="hidden" th:field="*{approved_flag}">
    	<input type="submit" value="差戻実行" class="btn">
   	</form>

    <form th:action="@{/mt-show-reported-help-list}" method="POST" th:object="${mtReportedHelpListForm}">
		<input type="hidden" th:field="*{reported_help_id}">
		<input type="hidden" th:field="*{help_id}">
    	<input type="hidden" th:field="*{help_name}">
    	<input type="hidden" th:field="*{help_ammount}">
		<input type="hidden" th:field="*{user_id}">
		<input type="hidden" th:field="*{approved_flag}">
    	<input type="submit" value="もどる" class="btn">
   	</form>
</div>
	<br>
	<div class="link-wrapper">
		<a th:href="@{/mt-top}">管理メニュー</a>
	</div>

</body>
</html>