<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/common-style.css}">
<link rel="stylesheet" th:href="@{/css/mt-style.css}">
<title>口座登録確認</title>
</head>
<body>
	<!--ヘッダーフラグメント-->
	<header th:replace="~{fragments/header :: header-fragment}"></header>
	
	<h2>口座登録確認</h2>

	<p>下記口座を登録しますか？</p>
	
	<table class="confirm-table" th:object="${bankAccountForm}">
		<tr>
			<td class="guide">【ユーザーID】</td>
			<td th:text="*{userName}"></td>
		</tr>
		<tr>
			<td class="guide">所持金】</td>
			<td th:text="*{financial_asset}"></td>
		</tr>
	</table>
	<br>

<div class="confirm-btn-wrapper">
    <form th:action="@{/mt-confirm-account-regist}" method="POST" th:object="${bankAccountForm}">
		<input type="hidden" th:field="*{userName}">
    	<input type="hidden" th:field="*{financial_asset}">
    	<input type="submit" value="登録実行" class="btn">
   	</form>

    <form th:action="@{/mt-show-account-regist}" method="POST" th:object="${bankAccountForm}">
    	<input type="hidden" th:field="*{userName}">
    	<input type="hidden" th:field="*{financial_asset}">
    	<input type="submit" value="もどる" class="btn">
   	</form>
</div>
	<br>
	<a th:href="@{/mt-top}">管理メニュー</a>

</body>
</html>