<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/common-style.css}">
<link rel="stylesheet" th:href="@{/css/mt-style.css}">
<title>お手伝い削除確認</title>
</head>
<body>
	<!--ヘッダーフラグメント-->
	<header th:replace="~{fragments/header :: header-fragment}"></header>
	
	<h2>お手伝い削除確認</h2>

	<table class="confirm-table" th:object="${mtHelpRemoveForm}">
		<tr>
			<td class="guide">【お手伝いID】</td>
			<td th:text="*{help_id}"></td>
		</tr>
		<tr>
			<td class="guide">【お手伝い名】</td>
			<td th:text="*{help_name}"></td>
		</tr>
		<tr>
			<td class="guide">【	お小遣い】</td>
			<td th:text="*{help_ammount}"></td>
		</tr>
	</table>
	<br>

    <form th:action="@{/mt-confirm-remove}" method="POST" th:object="${mtHelpRemoveForm}">
			<input type="hidden" th:field="*{help_id}">
			<input type="hidden" th:field="*{help_name}">
			<input type="hidden" th:field="*{help_ammount}">
			<input type="submit" value="削除実行" class="btn">
   	</form>

    <form th:action="@{/show-help-list}" method="POST">
    	<input type="submit" value="もどる" class="btn">
   	</form>

	<br>
	<a th:href="@{/mt-top}">管理メニュー</a>

</body>
</html>