<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/common-style.css}">
<link rel="stylesheet" th:href="@{/css/mt-style.css}">
<title>お手伝いメニュー画面</title>
</head>
<body>
	<!--ヘッダーフラグメント-->
	<header th:replace="~{fragments/header :: header-fragment}"></header>

	<h2>お手伝いメニュー</h2>
	<p>お手伝いの登録・編集・削除ができます。</p>
	<div class="flex-parent">
		<div class="flex-child">
			<!-- お手伝い一覧画面 -->	
			<form th:action="@{/show-help-list}" method="POST">
				<input type="submit" value="お手伝いリスト" class="mtTopMenuBtn">
			</form>
		</div>
		<div class="flex-child">
			<!-- お手伝い登録画面	-->	
			<form th:action="@{/mt-show-regist}" method="POST">
				<input type="submit" value="お手伝い登録" class="mtTopMenuBtn">
    		</form>
		</div>
	</div>
	
	<br>
	<div class="link-wrapper">
		<a th:href="@{/mt-top}">管理メニュー</a>
	</div>
	

</body>
</html>