<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/common-style.css}">
<link rel="stylesheet" th:href="@{/css/mt-style.css}">
<title>お手伝いリスト画面</title>
</head>
<body>
	<!--ヘッダーフラグメント-->
	<header th:replace="~{fragments/header :: header-fragment}"></header>
	
	<h2>お手伝い検索</h2>
	<form th:action="@{/mt-search}" method="POST" th:object="${mtHelpListForm}">
		【お手伝い名】<br>
	   	<input type="text" th:field="*{help_name}" class="inputSize"><br>
		<br>
	   	<input type="submit" value="検索" class="btn">
	</form>
<hr>
	<div th:if="${helpList} == null">
		該当するお手伝いが存在しません。
	</div>
	<div th:if="${helpList} != null">
		<h2>お手伝いリスト</h2>
	
		<table class="help-list">
			<tr>
				<th colspan="2">操作ボタン</th><th>お手伝いID</th><th>お手伝い名</th><th>お小遣い</th>
			</tr>
	
			<tr th:each="help : ${helpList}">
<!--				編集ボタン-->
				<td>
					<form th:action="@{/mt-show-edit}" method="POST">
						<input type="hidden" name="help_id" th:value="${help.help_id}">
						<input type="hidden" name="help_name" th:value="${help.help_name}">
						<input type="hidden" name="help_ammount" th:value="${help.help_ammount}">
						<input type="submit" value="編集" class="tbtn">
					</form>
				</td>
<!--				削除ボタン-->
				<td>
					<form th:action="@{/mt-remove}" method="POST">
						<input type="hidden" name="help_id" th:value="${help.help_id}">
						<input type="hidden" name="help_name" th:value="${help.help_name}">
						<input type="hidden" name="help_ammount" th:value="${help.help_ammount}">
						<input type="submit" value="削除" class="tbtn">	
					</form>
				</td>
				
<!--				データ中身表示-->				
				<td th:text="${help.help_id}"></td>
				<td th:text="${help.help_name}"></td>
				<td th:text="${help.help_ammount}"></td>
			</tr>
		</table>
	</div>

	<br>
	<div class="link-wrapper">
		<a th:href="@{/mt-top}">管理メニュー</a>
		<a th:href="@{/mt-show-help-menu}">お手伝いメニュー</a>
	</div>


</body>
</html>
