<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/common-style.css}">
<link rel="stylesheet" th:href="@{/css/mt-style.css}">
<!--フォントはNoto Sans　ここから-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<!--フォントはNoto Sans　ここまで-->
<title>管理メニュー</title>
</head>
<body>
	<!--ヘッダーフラグメント-->
	<header th:replace="~{fragments/header :: header-fragment}"></header>

	<h2>管理メニュー</h2>
	<div class="main-wrapper">
		<div class="flex-parent">
			<div class="flex-child">
				<!-- お手伝い画面 -->
				<form th:action="@{/mt-show-help-menu}" method="POST">
					<input type="submit" value="お手伝い" class="mtTopMenuBtn">
				</form>
			</div>
<!--			<div class="flex-child">-->
<!--				 決済画面		未実装-->
<!--				<form th:action="@{/mt-show-payment-regist}" method="POST">-->
<!--					<input type="submit" value="決済" class="mtTopMenuBtn">-->
<!--				</form>-->
<!--			</div>-->
			<div class="flex-child">
				<!-- 報告されたお手伝い一覧-->
				<form th:action="@{/mt-show-reported-help-list}" method="POST">
					<input type="submit" value="報告一覧" class="mtTopMenuBtn">
				</form>
			</div>
			<div class="flex-child">
				<!-- ユーザ登録-->
				<form th:action="@{/mt-show-user-regist}" method="GET" th:object="${userRegisterForm}">
					<input type="submit" value="ユーザー登録" class="mtTopMenuBtn">
				</form>
			</div>
			<div class="flex-child">
				<!-- 口座登録-->
				<form th:action="@{/mt-show-account-regist}" method="POST" th:object="${userRegisterForm}">
					<input type="submit" value="口座登録" class="mtTopMenuBtn">
				</form>
			</div>
		</div>
		<div class="link-wrapper">
			<a th:href="@{/adminuser}">共通メニュー</a>
		</div>
		
	</div>
</body>
</html>