<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/mt-style.css}">
<title>管理メニュー</title>
</head>
<body>
	<p sec:authorize="isAuthenticated()" class="auth-status">
		ログインユーザー：<span sec:authentication="principal.username"></span><br> ロール：<span sec:authentication="principal.authorities"></span>
	</p>

	<h2>管理メニュー</h2>
	<div class="main-wrapper">
		<div class="flex-parent">
			<div class="flex-child">
				<!-- お手伝い画面 -->
				<form th:action="@{/mt-show-help-menu}" method="POST">
					<input type="submit" value="お手伝い" class="mtTopMenuBtn">
				</form>
			</div>
			<div class="flex-child">
				<!-- 決済画面		未実装-->
				<form th:action="@{/mt-show-payment-regist}" method="POST">
					<input type="submit" value="決済" class="mtTopMenuBtn">
				</form>
			</div>
			<div class="flex-child">
				<!-- 報告されたお手伝い一覧-->
				<form th:action="@{/mt-show-reported-help-list}" method="POST">
					<input type="submit" value="報告一覧" class="mtTopMenuBtn">
				</form>
			</div>
			<div class="flex-child">
				<!-- ユーザ登録-->
				<form th:action="@{/mt-show-user-regist}" method="GET" th:object="${userRegisterForm}">
					<input type="submit" value="ユーザ登録" class="mtTopMenuBtn">
				</form>
			</div>
			<div class="flex-child">
				<!-- 口座登録-->
				<form th:action="@{/mt-show-account-regist}" method="POST" th:object="${userRegisterForm}">
					<input type="submit" value="口座登録" class="mtTopMenuBtn">
				</form>
			</div>
		</div>

		<a th:href="@{/adminuser}">共通メニュー</a>

		<div class="logoutBtn-wrapper">
			<form th:action="@{/logout}" method="post">
				<p>
					<button class="logoutBtn" type="submit">ログアウト</button>
				</p>
			</form>
		</div>
	</div>
</body>
</html>