<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/common-style.css}">
<link rel="stylesheet" th:href="@{/css/mt-style.css}">
<title>画像アップロード</title>
</head>
<body>
	<!--ヘッダーフラグメント-->
	<header th:replace="~{fragments/header :: header-fragment}"></header>

	<h2>画像アップロード</h2>
	<div class="main-wrapper">
		<div class="img-up-wrapper">
			<!------------------------  画像サンプルエリア  ---------------------------------------------------------->
			<div class="img-smpl-wrapper">
				<div th:if="${msg} != null">
					<p th:text="${msg}"></p>
				</div>
				<h3>Sample</h3>
				<div th:object="${UserImageForm}">
					<div th:if="${imageSrc} == null" class="img-smpl">No Image</div>
					<div th:if="${imageSrc} != null" class="img-smpl">
						<img th:src="${imageSrc}" alt="アップロード画像" width="300">
					</div>
				</div>
			</div>
			<!------------------------  画像uploadボタンエリア  ---------------------------------------------------------->
			<div class="img-up-btn-wrapper">
				<form th:action="@{/images/upload}" method="post"
					enctype="multipart/form-data">
					<input type="hidden" name="image_id"
						th:value="${userImage.image_id}"> <input type="hidden"
						name="user_id" th:value="${userImage.user_id}"> <input
						type="hidden" name="image_data" th:value="${userImage.image_data}">
					<input type="hidden" name="image_name"
						th:value="${userImage.image_name}"> <input type="hidden"
						name="image_type" th:value="${userImage.image_type}">
						<p>↓画像を選択してください。</p>
						<label for="fileBtnText" class="circle-btn">ファイルを選択</label> <input
						type="file" name="file" id="fileBtnText" style="display: none"
						required>
						<p>↓アップロードボタンを押すと、画像を更新できます。</p>
					<button type="submit" class="circle-btn upload-btn">アップロード</button>
				</form>
			</div>
		</div>
		<!-- マイページ画面	-->
		<form th:action="@{/mypage/user-show-mypage}" method="GET">
			<input type="submit" value="My Page" class="btn">
		</form>
	</div>
</body>
</html>
