<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/common-style.css}">
<link rel="stylesheet" th:href="@{/css/mt-style.css}">
<title>お手伝い取下確認</title>
</head>
<body>
	<!--ヘッダーフラグメント-->
	<header th:replace="~{fragments/header :: header-fragment}"></header>

	<h2>差し戻されたお手伝い取下げ確認</h2>

	<p>下記お手伝いの報告を取り下げますか？</p>
	
	<table class="confirm-table" th:object="${userNotApprovedHelpListForm}">
		<tr>
			<td class="guide">【	お手伝い名】</td>
			<td th:text="*{help_name}"></td>
		</tr>
		<tr>
			<td class="guide">【	お小遣い】</td>
			<td th:text="*{help_ammount}"></td>
		</tr>
	</table>
	<br>

<div class="confirm-btn-wrapper">
    <form th:action="@{/user-confirm-remove-help-report}" method="POST" th:object="${userNotApprovedHelpListForm}">
		<input type="hidden" th:field="*{not_approved_help_id}">
		<input type="hidden" th:field="*{reported_help_id}">
		<input type="hidden" th:field="*{help_id}">
		<input type="hidden" th:field="*{help_name}">
    	<input type="hidden" th:field="*{help_ammount}">
		<input type="hidden" th:field="*{user_id}">
		<input type="hidden" th:field="*{reported_flag}">
    	<input type="submit" value="取下実行" class="btn">
   	</form>

	<form th:action="@{/user-show-help-list}" method="POST" th:object="${userNotApprovedHelpListForm}">
		<input type="hidden" th:field="*{not_approved_help_id}">
		<input type="hidden" th:field="*{reported_help_id}">
		<input type="hidden" th:field="*{help_id}">
		<input type="hidden" th:field="*{help_name}">
    	<input type="hidden" th:field="*{help_ammount}">
		<input type="hidden" th:field="*{user_id}">
		<input type="hidden" th:field="*{reported_flag}">
    	<input type="submit" value="もどる" class="btn">
   	</form>
</div>
	<br>
	<div class="link-wrapper">
		<a th:href="@{/user-top}">トップメニュー</a>
	</div>


</body>
</html>