@charset "UTF-8";

body {
	font-family: BIZ UDPゴシック;
	background-color: lightblue;
	text-align: center;	
}

h1 {
	font-size: 32px;
    color: black;
}

h2 {
	font-size: 28px;
	background-color: lightblue;
	color: white;
	padding-top: 6px;
	padding-bottom: 6px;
}

/* 通常のボタン */
.btn {
	border: 2px solid mediumvioletred;
	padding: 4px 20px;
	font-size: 20px;
	color: mediumvioletred;
	background-color: #f5ecf4;
	cursor:pointer;
}

.btn:hover {
  color: #fff;
  background: mediumvioletred;
}

/* コメント入力の幅 */
input.catch {
	width: 400px;
}
.inputSize {
	width: 300px;
	height: 20px;
}

.error-msg {
    color: red;
}

table {
	border: 1px solid aliceblue;
	margin-left: auto;
	margin-right: auto;
	width: 80%; 					/* テーブル横幅 */
	border-collapse:  collapse; 	/* 境界線を共有 */
}

th {
	border: 1px solid aliceblue;
    text-align:center;
    background-color: steelblue;
    height: 32px;
}

td {
	border: 1px solid aliceblue;
	text-align: center;
	height: 24px;
}

.help-list {
    background-color: lightsteelblue;
}

/* テーブル内ボタン */
.tbtn {
	border: 2px solid blueviolet;
	padding: 2px 10px;
	font-size: 16px;
	color: blueviolet;
	cursor:pointer;
}

.tbtn:hover {
  color: #fff;
  background: blueviolet;
}

/* 確認画面用 */
.confirm-table {
    background-color: lightgray;
	width: 50%; 					/* テーブル横幅 */
}

.confirm-table .guide {
	width: 30%; 					/* テーブル横幅 */
}

.confirm-table td {
    text-align:left;
}

/***************ログインまわり start********************/
.auth-message {
	text-align: right;
}
.auth-status {
	text-align: right;
}
/*ログアウトボタンを中央寄せにするためflexbox使う。このクラス直下にある多分pタグの要素がflexboxの子要素になると思われる*/
.logoutBtn-wrapper {
/*  padding:50px 0;*/
  	display:flex;
  	justify-content:center;
}
.logoutBtn {
        /****** 元々のbuttonタグの装飾をオフにする ********/
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        /****** ここまで ******************************/
  
 	 /* 自由に装飾するためにブロック化 */
  	display: block;
  	/* かざすとポインター */
  	cursor: pointer;
  	border: 2px solid blue;
	padding: 4px 20px;
	font-size: 12px;
  	color: blue;
  	background-color: #fff;
  	text-align: center;
}

.logoutBtn:hover {
  color: #fff;
  background: blue;
}
/***************ログインまわり end********************/
.flex-parent {
	display: flex;
	flex-wrap: wrap;
/*	background-color: lightsteelblue;      背景色指定 */
    padding:  10px;             /* 余白指定 */
   
}
.flex-child {
	padding: 10px;
	height: 250px;
	width: 250px;
	background-color: white;
    color:  black;               /* 文字色 */
    margin:  30px;              /* 外側の余白 */
    border-radius:  20px;        /* 角丸指定 */
    margin:0 auto;
}

.mtTopMenuBtn {
  /****** 元々のinputタグの装飾をオフにする ********/
  /* 背景色を無色に */
  background: transparent;
  /* 枠線を消す */
  border: none;
  /* クリックした際に枠線をnone消す */
  outline: none;
  /* 影を消す */
  box-shadow: none;
  /****** ここまで ******************************/
  
  /* 自由に装飾するためにブロック化 */
  display: block;
  /* かざすとポインター */
  cursor: pointer;
  /* 文字色 */
  color: palevioletred;
  font-size: 24px;
 /* .flex-childとになたような大きさにして、ボタン押下できる範囲を広める（偽装）*/
  height: 250px;
  width: 250px;
  border-radius:  20px;        /* 角丸指定 */
  background-color: white;
  
}