@charset "UTF-8";
/***************共通 start*******************************************************/
/*文字サイズを基本20pxとして、他の箇所のfont-sizeをrem指定にする！*/
html {
	font-size: 20px;
}

header {
	/*	ヘッダーを画面の15%にして、他を画面の80%にしている*/
	/*adminUserView.htmlのheight参照*/
	height: 15vh;
}

body {
	background-color: #4DA8DA;
	text-align: center;
}

h1 {
	font-size: 1.6rem;
	color: #FFFFFF;
}

h2 {
	font-size: 1.4rem;
	color: #FFFFFF;

    padding-bottom: 6px;
    margin:0 auto;
}

h3 {
	font-size: 1.2rem;
	color: #FFFFFF;
}
p {
	    margin:0 auto;
	    	font-size: 0.7rem;
}
a {
	/*    text-decoration: none;*/
	color: #FFFFFF;
}

.auth-status {
	text-align: right;
	font-size: 0.7rem;
}


.auth-message {
	text-align: right;
}

/*ログアウトボタンを中央寄せにするためflexbox使う。このクラス直下にある多分pタグの要素がflexboxの子要素になると思われる*/
.logoutBtn-wrapper {
	/*  padding:50px 0;*/
	display: flex;
	justify-content: flex-end;
}

.logoutBtn {
	/****** 元々のbuttonタグの装飾をオフにする ********/
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
	/****** ここまで ******************************/
	/* 自由に装飾するためにブロック化 */
	display: block;
	/* かざすとポインター */
	cursor: pointer;
	/*	border: 2px solid blue;*/
	border: 2px solid F9FFE0;
	padding: 4px 20px;
	font-size: 0.6rem;
	color: blue;
	/*	background-color: #fff;*/
	background-color: #4753A7;
	text-align: center;
	padding: 4px 20px;
	font-size: 0.6rem;
	color: #fff;
}

.logoutBtn:hover {
	color: #fff;
	background: blue;
}

/***************共通 end*******************************************/