@charset "UTF-8";

/***************共通 start*******************************************************/
body {
	text-align: center;
}

h1 {
	font-size: 1.6rem;
	color: #FFFFFF;
}

h2 {
	font-size: 1.4rem;
	color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
}

/* 通常のボタン */
.btn {
	border: 2px solid #FFFFFF;
	padding: 4px 20px;
	font-size: 20px;
	color: #FFFFFF;;
	background-color: #80D8C3;
	cursor: pointer;
}

.btn:hover {
	color: #FFFFFF;
	background: #FFD66B;
}

/* コメント入力の幅 */
input.catch {
	width: 400px;
}

.inputSize {
	width: 300px;
	height: 20px;
}

.error-msg {
	color: red;
}

table {
	border: 1px solid aliceblue;
	margin-left: auto;
	margin-right: auto;
	width: 80%; /* テーブル横幅 */
	border-collapse: collapse; /* 境界線を共有 */
}

th {
	border: 1px solid aliceblue;
	text-align: center;
	background-color: #4753A7;
	height: 32px;
}

td {
	border: 1px solid aliceblue;
	text-align: center;
	height: 24px;
}

.help-list {
	background-color: #4DA8DA;
}

/* テーブル内ボタン */
.tbtn {
	border: 2px solid #FFFFFF;
	padding: 2px 10px;
	font-size: 16px;
	color: #FFFFFF;
	cursor: pointer;
	background: #80D8C3;
}

.tbtn:hover {
	color: #FFFFFF;
	background: #FFD66B;
}

/* 確認画面用 */
.confirm-table {
	background-color: lightgray;
	width: 50%; /* テーブル横幅 */
}

.confirm-table .guide {
	width: 30%; /* テーブル横幅 */
}

.confirm-table td {
	text-align: left;
}
/***************共通 end*********************************************************************/

/* user-top.html */
.user-money-wrapper {
	display: flex;
	justify-content: center; /* 主軸（横方向）を中央揃え */
	align-items: center; /* 交差軸（縦方向）を中央揃え */
}

.user-money {
	width: 100%;
	border-radius: 50px;
	padding: 30px 60px;
	background-color: #FFFFFF;
	margin: 50px 100px;
}

.user-money p {
	font-size: 1.6rem;
	color: 100;
}
/* user-help-menu.html */ /* mt-top.html　など */
.main-wrapper {
	width: 90vw;
	margin: 0 auto;
}

.mtTopMenuBtn {
	/****** 元々のinputタグの装飾をオフにする ********/
	/* 背景色を無色に */
	background: transparent;
	/* 枠線を消す */
	border: none;
	/* クリックした際に枠線をnone消す */
	outline: none;
	/* 影を消す */
	box-shadow: none;
	/****** ここまで ******************************/
	/* 自由に装飾するためにブロック化 */
	display: block;
	/* かざすとポインター */
	cursor: pointer;
	background: #80D8C3;
	color: #FFFFFF;
	font-size: 1.2rem;
	height: 100%;
	width: 100%;
	border-radius: 20px;
	width: 100%; /* 角丸指定 */
}

.userHelpMenuBtn {
	/****** 元々のinputタグの装飾をオフにする ********/
	/* 背景色を無色に */
	background: transparent;
	/* 枠線を消す */
	border: none;
	/* クリックした際に枠線をnone消す */
	outline: none;
	/* 影を消す */
	box-shadow: none;
	/****** ここまで ******************************/
	/* 自由に装飾するためにブロック化 */
	display: block;
	/* かざすとポインター */
	cursor: pointer;
	background: #80D8C3;
	color: #FFFFFF;
	font-size: 1.2rem;
	height: 250px;
	width: 250px;
	border-radius: 20px; /* 角丸指定 */
}

.mtTopMenuBtn:hover, .mtTopMenuBtn:active, .mtTopMenuBtn:focus {
	background: #09C289;;
}

.userHelpMenuBtn:hover, .userHelpMenuBtn:active, .userHelpMenuBtn:focus
	{
	background: #09C289;;
}

.flex-parent {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* 主軸（横方向）を中央揃え */
	align-items: center; /* 交差軸（縦方向）を中央揃え */
	padding: 10px;
}

.flex-child {
	padding: 0; /* paddingを消す（inputとサイズを同じにする） */
	height: 250px;
	width: 250px;
	background: #09C289;
	color: #FFFFFF;
	margin: 30px; /* 外側の余白 */
	border-radius: 20px; /* 角丸指定 */
	overflow: hidden; /* はみ出し防止 */
}

.flex-child form {
	height: 100%;
	width: 100%;
}

/***************confirm関連html start*********************************************************************/
.confirm-btn-wrapper {
	display: flex;
	flex-direction: row; /*横並び・左から右（デフォルト）*/
	flex-wrap: wrap;
	justify-content: center; /* 主軸（横方向）を中央揃え */
	align-items: center; /* 交差軸（縦方向）を中央揃え */
}

.confirm-btn-wrapper form {
	margin: 0 20px;
}

/***************confirm関連html end*********************************************************************/

/***************myPage.html start*********************************************************************/
.mypage-wrapper {
	display: flex;
	flex-direction: row; /*横並び・左から右（デフォルト）*/
	flex-wrap: no-wrap;
	justify-content: center; /* 主軸（横方向）を中央揃え */
	align-items: center; /* 交差軸（縦方向）を中央揃え */
	width: 100%;
}

.myimg-wrapper {
	width: 50%;
	box-sizing: border-box; /* padding や border が幅超過しないように */
}

.myimg-area {
	display: flex;
	justify-content: center; /* 横方向の中央揃え */
	align-items: center; /* 縦方向の中央揃え */
	width: 100%;
}

.myimg {
	width: 25vw;
	height: 25vw;
	border-radius: 50%;
	overflow: hidden; /* 子要素(img)が丸枠からはみ出さない */
}

.myimg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile-wrapper {
	width: 50%;
	box-sizing: border-box; /* padding や border が幅超過しないように */
}

.profile-contents {
	display: flex;
	flex-direction: row; /*横並び・左から右（デフォルト）*/
	flex-wrap: wrap;
	justify-content: center; /* 主軸（横方向）を中央揃え */
	align-items: center; /* 交差軸（縦方向）を中央揃え */
}

.item-title {
	width: 50%;
}

.item-contents {
	width: 50%;
}

/***************myPage.html end*********************************************************************/