<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/common-style.css}">
<link rel="stylesheet" th:href="@{/css/auth-style.css}">
<title>ログインページ</title>
</head>

<body>


	<!--ヘッダーフラグメント-->
	<header th:replace="~{fragments/header :: header-fragment}"></header>
	<div class="top-page-wrapper">
		<div class="top-page-right-wrapper">
			<div class="top-page-title-wrapper">
				<div class="title1">Pocket</div>
				<div class="title2">Money</div>
				<div class="title3">App</div>
			</div>
			<div class="top-page-subtitle-wrapper">
				<div class="subtitle">おこづかいアプリ</div>
			</div>
		</div>
		<div class="top-page-left-wrapper">
			<div sec:authorize="hasRole('ADMIN')" class="left-child">
				<form th:action="@{/mt-top}" method="POST">
					<input type="submit" value="管理メニュー" class="top-kanri-Btn">
				</form>
			</div>
			<div class="left-child">
				<form th:action="@{/user-top}" method="POST"
					th:object="${userRegisterForm}">
					<input type="submit" value="ユーザーメニュー" class="top-user-Btn">
				</form>
			</div>
		</div>


	</div>

</body>

</html>